* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn {
  border: 1 px solid black;
}
